body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */
body {
    background-color: #d2c9df;
    font-family: oswald light;
    font-size: 12pt;
}
.info, .link {
    text-align: center;
}
.NMD {
    color: #817298;
}
h1{
    color: #85677d;
    text-align: center;
    font-family: oswald regular;
    font-size: 32pt;
}
h2{
    color: #d268d9;
    text-align: center;
    border: 1px solid #d268d9;
    padding: inherit;
    font-size: 18pt;
}
h3 {
    color: #817298;
    font-style: bold;
    font-size: 18pt;
}
.negatief {
    color: red;
}
.positief {
    color: green;
}
.concurrentieintro {
    font-family: oswald medium;
}
table{
    width: 600px;}
th, td{
    padding: 7px 10px 10px 10px;}
th{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #d268d9;
    border-top: 1px solid #817298;
    text-align: left;}
tr.even{
    background-color: white;}
tr:hover{
    background-color: blanchedalmond;}
.money{
    text-align: right;
}
