body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

body {
    background-color: #d2c9df;
    font-family: oswald light;
    font-size: 12pt;
}
h1{
    color: #85677d;
    text-align: center;
}

h2{
    color: #d268d9;
    text-align: center;
}
h3 {
    color: #817298;
    font-style: italic;
}
th {
    font-style: italic;
}
a{
    cursor:move;
}
form{
    color: #817298;
}
p {
    color:red;
}