body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */
body {
    background-color: whitesmoke;
    font-family: oswald extralight;
    font-size: 12pt;
}
.info, .link {
    text-align: center;
}
.NMD {
    color: #817298;
}
h1{
    color: #85677d;
    text-align: center;
    font-family: oswald regular;
    font-size: 32pt;
}
h2{
    color: #d268d9;
    text-align: center;
    border: 1px solid #d268d9;
    padding: inherit;
    font-size: 18pt;
}
h3 {
    color: #817298;
    font-style: bold;
    font-size: 18pt;
}
h4 {
    color: #817298;
    font-family: oswald extralight;
    font-size: 20pt;
}
.negatief {
    color: red;
}
.positief {
    color: green;
}
.concurrentieintro {
    font-family: oswald medium;
}

/* Dit is mijn style guide */
img.one {
    position: absolute;
    right: 50px;
    top: 110px;
    display: inherit;}
.kleur1, .kleur2, .kleur3, .kleur4, .kleur5, .kleur6 {
    padding: 20px;
    width: 275px;
    border-radius: 10px;}
.kleur1 {
    border: 10px solid #d268d9;}
.kleur2 {
    border: 10px solid #d2c9df;}
.kleur3 {
    border: 10px solid #817298;}
.kleur4 {
    border: 10px solid #85677d;}
.kleur5 {
    border: 10px solid #b194f3;}
.kleur6 {
    border: 10px solid #f5c9df;}
.lettertype {
    position: absolute;
    top: 113px;
    left: 470px;
    width: 400px;}
.lettertype1 {
    font-family: oswald regular;
    font-size: 30pt;
    position: absolute;
    top: 180px;
    left: 470px;
    width: 600px;}
.lettertype2 {
    font-family: oswald light;
    font-size: 20pt;
    position: absolute;
    top: 250px;
    left: 470px;
    width: 600px;}
.lettertype3 {
    font-family: oswald extralight;
    font-size: 12pt;
    position: absolute;
    top:310px;
    left: 470px;
    width: 600px;}
.knoppen {
    position: absolute;
    top: 360px;
    left: 470px;
    width: 600px;
}
.knop1 {
    position: absolute;
    top: 440px;
    left: 470px;
    width: 600px;
}
.knop2 {
    position: absolute;
    top:590px;
    left: 470px;
    width: 600px;
}
.stijlen {
    position: absolute;
    top: 680px;
    left: 470px;
    width: 600px;
}
.stijl1, .stijl2, .stijl3, .stijl4, .stijl5 {
    padding: 0px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
}
.stijl1 {
    top: 750px;
    background-color: #d2c9df;
    border: solid #d2c9df;
    position: absolute;
    left: 470px;
    width: 50px;
}
.stijl2 {
    top: 750px;
    background-color: #d2c9df;
    border: solid #d2c9df;
    opacity: 0.5;
    position: absolute;
    left: 530px;
    width: 50px;
}
.stijl3 {
    top: 750px;
    background-color: white;
    border: solid #333;
    position: absolute;
    left: 590px;
    width: 50px;
}
.stijl4 {
    top: 750px;
    background-color: #85677d;
    border: solid #85677d;
    position: absolute;
    left: 650px;
    width: 50px;
}
.stijl5 {
    top: 750px;
    background-color: #f5c9df;
    border: solid #f5c9df;
    position: absolute;
    left: 710px;
    width: 50px;
}